<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp">

    <application
        android:label="My Flask App"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"> <!-- Diese Zeile erlaubt unverschlüsselten Traffic, falls notwendig -->

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/LaunchTheme"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Internet Permission -->
        <uses-permission android:name="android.permission.INTERNET" />

        <!-- Optional: Network State Permission -->
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    </application>
</manifest>
