<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyFitnessApp</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>MyFitnessApp</h1>

      <header>
        <nav>
          <a href="{{ url_for('food') }}">Food</a>
          <a href="{{ url_for('exercise_entries') }}">Exercises</a>
          <a href="{{ url_for('goals') }}">Goals</a>
        </nav>
      </header>
    </header>
    <main>
      {% with messages = get_flashed_messages(with_categories=True) %} {% if
      messages %}
      <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %} {% block content %}{% endblock %}
    </main>
  </body>
</html>
