@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* Globale Stile */
body {
  background-color: #252733;
  color: #000;
  margin: 0;
  padding: 0;
}

input[type="text"],
input[type="number"],
input[type="password"],
textarea {
  font-size: 16px;
  background-color: #28344c;
  border: none;
}

label,
button {
  font-size: 16px;
}

input[type="text"],
input[type="number"],
input[type="password"],
textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 5px;
  color: white;
}

#hide-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px; /* Stellt sicher, dass der Button gut sichtbar ist */
}

#hide-button:hover {
  background-color: #0056b3;
}

#container {
  display: block; /* Sicherstellen, dass der Container anfänglich sichtbar ist */
  /* Andere relevante Stile für den Container */
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #373a4b;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
}

form label {
  display: block;
  margin: 10px 0 5px;
  color: white;
}

form input[type="text"],
form input[type="number"],
form select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

form input[type="submit"] {
  background-color: #4169e1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

form input[type="submit"]:hover {
  background-color: #3651b7;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4169e1;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #4169e1a3;
}

header {
  background-color: #4169e1;
  color: white;
  padding: 12px 20px;
  border-bottom-left-radius: 80% 20px;
  border-bottom-right-radius: 80% 20px;
  position: relative; /* Ermöglicht das Positionieren von Elementen innerhalb des Headers */
  margin-bottom: 3vh;
  height: 10vh;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content h1 {
  margin: 0;
  position: relative;
  left: 25vw;
}

.profile-container {
  position: absolute; /* Absolute Positionierung innerhalb des Headers */
  top: 12px; /* Abstand vom oberen Rand des Headers */
  right: 17px; /* Abstand vom rechten Rand des Headers */
  border: none;
}

.profile-link {
  display: inline-block;
  border: none;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

.profile-img:hover {
  opacity: 0.8;
}

nav {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 10px;

  margin-bottom: 2vh;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

#exercise-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.date-header {
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px 0;
  color: #333;
}

.date-divider {
  border: 0;
  border-top: 2px solid #ddd;
  margin: 10px 0;
}

.exercise-entry {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #28344c;
  color: white;
}

.exercise-detail button {
  align-self: flex-start; /* Stellt sicher, dass der Button korrekt positioniert ist */
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background: white;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

ul li .delete {
  background: red;
  color: white;
  padding: 15px;
  position: absolute;
  right: -100px;
  transition: right 0.3s ease;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  line-height: 20px;
}

ul li.swiped .delete {
  right: 10px;
}

ul li.swiped {
  background-color: #ffdada;
}

.flashes {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.flashes li {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.flashes .error {
  background-color: #f8d7da;
  color: #721c24;
}

.flashes .success {
  background-color: #d4edda;
  color: #4169e1;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

table th {
  background-color: #4169e1;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.goal-box {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.goal-box p {
  margin: 0;
  padding: 5px 0;
  font-size: 18px;
}

.goal-box p strong {
  color: #4caf50;
}

.search-container {
  display: flex;
  align-items: start;
  flex-direction: column;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 350px;
}

#search-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

#search-button:hover {
  background-color: #0056b3;
}

#search-input {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  flex: 1;
}

.suggestions-container {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  z-index: 1000;
  margin-top: 10px;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.results-container {
  display: none;
  margin-top: 20px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.results-container p {
  margin: 5px 0;
}

.delete-food,
.delete-exercise {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #dc3545;
  color: white;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  right: -80%;
}

.delete-food:hover {
  background-color: #c82333;
}

.get-started,
.advantage,
.image-advantag {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: none;
  padding: 10px;
  border-radius: 20px;
  color: white;
}

.image-advantag {
  flex-direction: column;
  border-radius: 20px;
}

@keyframes slideInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideInUp 0.6s ease-out forwards;
}

@media (max-width: 768px) {
  nav a {
    display: block;
    margin: 10px 0;
    font-size: 18px;
  }

  form input[type="submit"] {
    width: 100%;
  }

  .goal-box {
    padding: 15px;
  }

  .goal-box p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  form {
    padding: 15px;
  }

  form label {
    margin: 8px 0 4px;
  }

  form input[type="submit"] {
    padding: 12px;
    font-size: 14px;
  }

  .goal-box {
    padding: 10px;
  }

  .goal-box p {
    font-size: 14px;
  }
}

.toggle-button {
  background-color: #27408b;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;

  margin-bottom: 20px;
}

.toggle-button:hover {
  background-color: transparent;
}

.goals-container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #333;
  border-radius: 8px;
  overflow: hidden;
}

.toggle-button i {
  float: right;
  background-color: transparent;
}
.toggle-button {
  background-color: #333;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  cursor: pointer;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 5vh;
}
.goals-content {
  padding: 10px;
  background-color: #333;
  display: none;
}

.note-input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

#note-input {
  flex: 1;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #333;
  height: 5vh;
  width: 100%;
  margin-top: 1.2vh;
}

#add-note {
  padding: 10px 20px;
  border: none;
  background-color: #315195;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  width: 5vw;
}

.note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #28344c;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
}

.note p {
  margin: 0;
  flex: 1;
}

.additional-button {
  background-color: #d01619;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

.additional-button:hover {
  background-color: #c8102e;
}

.health-bar-container {
  margin-top: 20px;
}

.health-bar {
  width: 100%;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #76c7c0;
  width: 0%;
  transition: width 0.5s ease;
}

.percentage {
  text-align: right;
  margin-top: 5px;
}

.blog-container {
  margin-top: -5vh;
  background-color: #333;
}
.blog-container:hover {
  background-color: #333;
}
.blog-content {
  display: none;
}

.blog-item-content {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content-section {
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #333;
  margin-bottom: 15px;
}

.content-section h3 {
  margin-top: 0;
}

.collapsible {
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  position: relative;
  top: -1vh;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  color: #444;
  display: flex;
  justify-content: center;
}

.collapsible:hover,
.content:hover {
  background-color: transparent;
}

.content {
  display: none;
  padding: 0 18px;
  overflow: hidden;
  background-color: #f9f9f9;
  margin-bottom: 15px;
}

.profile-container {
  position: absolute; /* Positioniert das Profil-Container absolut im Header */
  top: 20px; /* Abstand vom oberen Rand des Headers */
  right: 50px; /* Abstand vom rechten Rand des Headers */
  display: flex;
  align-items: center;
}

.profile-link {
  display: inline-block;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
  transition: opacity 0.3s;
}

.profile-img:hover {
  opacity: 0.8;
}

#nutrition-content {
  color: black;
  background-color: white;
}

.spacer {
  height: 20vh; /* Höhe nach Bedarf anpassen */
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #4169e1;
  color: white;
  text-align: center;
  padding: 1rem 0;
  border-top-left-radius: 80% 10px;
  border-top-right-radius: 80% 10px;
}

footer nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

footer nav a:hover {
  text-decoration: none;
}
