@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* Globale Stile */
body {
  background-color: #252733;
  color: #000;
  margin: 0;
  padding: 0;
}

input[type="text"],
input[type="number"],
input[type="password"],
textarea {
  font-size: 16px;
  background-color: #28344c;
  border: none;
}

label,
button {
  font-size: 16px;
}

input[type="text"],
input[type="number"],
input[type="password"],
textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 5px;
  color: white;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #373a4b;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
}

form label {
  display: block;
  margin: 10px 0 5px;
  color: white;
}

form input[type="text"],
form input[type="number"],
form select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

form input[type="submit"] {
  background-color: #4169e1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

form input[type="submit"]:hover {
  background-color: #3651b7;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4169e1;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #4169e1a3;
}

header {
  background-color: #4169e1;
  color: white;
  text-align: center;
  padding: 12px 0;
  border-bottom-left-radius: 80% 20px;
  border-bottom-right-radius: 80% 20px;
}

.headnav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5vw;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
  margin: 0 10px;
  padding-right: 10vw;
  margin-top: -2vh;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

#exercise-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.date-header {
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px 0;
  color: #333;
}

.date-divider {
  border: 0;
  border-top: 2px solid #ddd;
  margin: 10px 0;
}

.exercise-entry {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
}

.exercise-detail {
  margin-bottom: 5px;
}

.exercise-detail button {
  align-self: flex-start;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background: white;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

ul li .delete {
  background: red;
  color: white;
  padding: 15px;
  position: absolute;
  right: -100px;
  transition: right 0.3s ease;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  line-height: 20px;
}

ul li.swiped .delete {
  right: 10px;
}

ul li.swiped {
  background-color: #ffdada;
}

.flashes {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.flashes li {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.flashes .error {
  background-color: #f8d7da;
  color: #721c24;
}

.flashes .success {
  background-color: #d4edda;
  color: #4169e1;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

table th {
  background-color: #4169e1;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.goal-box {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.goal-box p {
  margin: 0;
  padding: 5px 0;
  font-size: 18px;
}

.goal-box p strong {
  color: #4caf50;
}

.search-container {
  display: flex;
  align-items: start;
  flex-direction: column;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 350px;
}

#search-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

#search-button:hover {
  background-color: #0056b3;
}

#search-input {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  flex: 1;
}

.suggestions-container {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  z-index: 1000;
  margin-top: 10px;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.results-container {
  display: none;
  margin-top: 20px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.results-container h2 {
  margin-top: 0;
}

.results-container p {
  margin: 5px 0;
}

.delete-food,
.delete-exercise {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #dc3545;
  color: white;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  right: -80%;
}

.delete-food:hover {
  background-color: #c82333;
}

.get-started,
.advantage,
.image-advantag {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: #dddddd;
  padding: 10px;
  border-radius: 20px;
}

.image-advantag {
  flex-direction: column;
  border-radius: 20px;
}

.image-rev-advan {
  border-radius: 20px;
  color: white;
}

@keyframes slideInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideInUp 0.6s ease-out forwards;
}

@media (max-width: 768px) {
  nav a {
    display: block;
    margin: 10px 0;
    font-size: 18px;
  }

  form input[type="submit"] {
    width: 100%;
  }

  .goal-box {
    padding: 15px;
  }

  .goal-box p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  form {
    padding: 15px;
  }

  form label {
    margin: 8px 0 4px;
  }

  form input[type="submit"] {
    padding: 12px;
    font-size: 14px;
  }

  .goal-box {
    padding: 10px;
  }

  .goal-box p {
    font-size: 14px;
  }
}

.toggle-button {
  background-color: #315195;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 4px;
}

.toggle-button:hover {
  background-color: #27408b;
}

.goals-content {
  display: none;
  margin-top: 20px;
}

.additional-button {
  background-color: #d01619;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

.additional-button:hover {
  background-color: #c8102e;
}

.health-bar-container {
  margin-top: 20px;
}

.health-bar {
  width: 100%;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #76c7c0;
  width: 0%;
  transition: width 0.5s ease;
}

.percentage {
  text-align: right;
  margin-top: 5px;
}
