/* Grundlegendes Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f4f4f4; /* Helles Grau für den Hintergrund */
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
  color: #444;
  font-weight: 500;
}

form input[type="text"],
form input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

form button {
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0056b3;
}

form button:active {
  background-color: #004494;
}

p {
  text-align: center;
  margin-top: 10px;
  color: #666;
}

p a {
  color: #007bff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

.flash-message {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
}

.flash-message.success {
  background-color: #28a745;
}

.flash-message.error {
  background-color: #dc3545;
}

.messages {
  list-style: none;
  padding: 0;
  margin: 15px 0;
}

.messages li {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 14px;
}

.messages .success {
  background-color: #d4edda;
  color: #155724;
}

.messages .error {
  background-color: #f8d7da;
  color: #721c24;
}
