<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyFitnessApp</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <style>
      @keyframes shake {
        0% {
          transform: translateX(0);
        }
        25% {
          transform: translateX(-5px);
        }
        50% {
          transform: translateX(5px);
        }
        75% {
          transform: translateX(-5px);
        }
        100% {
          transform: translateX(0);
        }
      }

      .shaking-image {
        width: 5vh;
        animation: shake 0.5s ease-in-out infinite;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="header-content">
        <h1>
          <a
            href="{{ url_for('index') }}"
            style="text-decoration: none; color: #ffffff"
          >
            FitFusion
          </a>
        </h1>
        <div class="profile-container">
          <a href="{{ url_for('logout') }}" class="profile-link">
            <img
              src="{{ url_for('static', filename='profile.jpg') }}"
              alt="Profile"
              class="profile-img"
            />
          </a>
        </div>
      </div>
    </header>
    <main>
      {% with messages = get_flashed_messages(with_categories=True) %} {% if
      messages %}
      <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %} {% block content %}{% endblock %}
    </main>

    <div class="spacer"></div>

    <footer>
      <nav>
        <a href="{{ url_for('food') }}"> Food </a>
        <a href="{{ url_for('exercise_entries') }}"> Exercise </a>
        <a href="{{ url_for('goals') }}"> More </a>
      </nav>
    </footer>
  </body>
</html>
