{% extends "base.html" %}

{% block content %}
<form method="post">
  <label for="exercise_id">Exercise:</label>
  <select id="exercise_id" name="exercise_id" required>
    <option value="" disabled selected>Choose an exercise</option>
    {% for exercise in exercises %}
    <option value="{{ exercise[0] }}">{{ exercise[1] }}</option>
    {% endfor %}
  </select>
  <br />

  <label for="reps">Reps:</label>
  <input type="number" id="reps" name="reps" required /><br />

  <label for="sets">Sets:</label>
  <input type="number" id="sets" name="sets" required /><br />

  <label for="kg">Weight (kg):</label>
  <input type="number" id="kg" name="kg" step="0.1" required /><br />

  <input type="submit" value="+" />
</form>

<h2>Exercises</h2>
<div id="exercise-list">
  {% set current_date = '' %}
  {% for entry in entries %}
    {% if entry['date'] != current_date %}
      {% if current_date != '' %}
        </div> <!-- End of previous day's group -->
        <hr class="date-divider">
      {% endif %}
      <div class="date-header">{{ entry['date'] }}</div>
      <div class="exercise-group"> <!-- Start new day's group -->
      {% set current_date = entry['date'] %}
    {% endif %}
    <div class="exercise-entry">
      <div class="exercise-detail">
        <strong>Exercise:</strong> {{ entry['name'] }}
      </div>
      <div class="exercise-detail">
        <strong>Reps:</strong> {{ entry['reps'] }}
      </div>
      <div class="exercise-detail">
        <strong>Sets:</strong> {{ entry['sets'] }}
      </div>
      <div class="exercise-detail">
        <strong>Weight (kg):</strong> {{ entry['kg'] }}
      </div>
      <div class="exercise-detail">
        <button class="delete-exercise" data-id="{{ entry['id'] }}">Delete</button>
      </div>
    </div>
  {% endfor %}
  {% if current_date != '' %}
    </div> <!-- End of the last day's group -->
  {% endif %}
</div>

<script src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock %}