{% extends "base.html" %} {% block content %}
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
<link rel="stylesheet" href="https://unpkg.com/boxicons/css/boxicons.min.css">
  <!-- Health Bar Container (initial hidden) -->
  <div class="health-bar-container" id="health-bar-container">
    <div id="health-bar" class="health-bar">
      <div id="progress" class="progress"></div>
    </div>
    <div class="percentage" style="color: white;">
      <span id="calories-consumed" style="color: white;">0 kcal</span> / 
      <span id="calories-goal" style="color: white;"></span>
      <br>
      <br>
      <div class="info-container">
        <div class="info-icon" onclick="showInfo()">i</div>
        <div style="border-radius: 20px;" class="info-tooltip" id="infoTooltip">
            <span style="color: rgba(255, 255, 255, 0.562); ">
                Bulk: <i class="bx bx-arrow-up"></i>add 250-500kcal
            </span>
            <br>
            <span style="color: rgba(255, 255, 255, 0.562);">
                Cut: <i class="bx bx-arrow-down"></i>cut 500kcal
            </span>
        </div>
    </div>
    </div>
    <br>
    </div>
  </div>
  <div style="margin-top: -3vh;" class="input-section">
    <input type="number" id="calorie-input" placeholder="Enter calories" />
    <button id="add-calories-btn">Add Calories</button>
  </div>
  <div class="calorie-calculator">
    <h2 style="color: white;">Kcal Calculator</h2>
    <input type="number" id="age" placeholder="Age" />
    <input type="number" id="weight" placeholder="Weight (kg)" />
    <input type="number" id="height" placeholder="Height (cm)" />
    <br /><br />
    <select style="background-color: #28344c; border: none; color: rgba(255, 255, 255, 0.562); " id="activity-level">
      <option value="1.2">Sedentary</option>
      <option value="1.375">Lightly active</option>
      <option value="1.55">Moderately active</option>
      <option value="1.725">Very active</option>
      <option value="1.9">Super active</option>
    </select>
    <br />
    <button id="calculate-btn">Calculate</button>
  </div>
</div>


<ul id="food-list">
  {% for food in foods %}
  <li data-id="{{ food[0] }}">
    <p>{{ food[1] }}</p>
    <p>Calories: {{ food[2] }}</p>
    <p>Carbs: {{ food[3] }}</p>
    <p>Protein: {{ food[4] }}</p>
    <p>Fat: {{ food[5] }}</p>
    <button class="delete-food" data-id="{{ food[0] }}">Delete</button>
  </li>
  {% endfor %}
</ul>

{% endblock %}