{% extends "base.html" %} {% block content %}
<form method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required /><br />
  <label for="calories">Kalorien:</label>
  <input type="number" id="calories" name="calories" required /><br />
  <label for="carbs">Kohlenhydrate:</label>
  <input type="number" id="carbs" name="carbs" required /><br />
  <label for="protein">Proteine:</label>
  <input type="number" id="protein" name="protein" required /><br />
  <label for="fat">Fette:</label>
  <input type="number" id="fat" name="fat" required /><br />
  <input type="submit" value="Add" />
</form>
<h2>Food</h2>

<ul id="food-list">
  {% for food in foods %}
  <li data-id="{{ food[0] }}">
    <p>{{ food[1] }}</p>
    <p>Kalorien: {{ food[2] }}</p>
    <p>Kohlenhydrate: {{ food[3] }}</p>
    <p>Proteine: {{ food[4] }}</p>
    <p>Fette: {{ food[5] }}</p>
    <button class="delete-button">Delete</button>
  </li>
  {% endfor %}
</ul>

<script src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock %}
