{% extends "base.html" %} 
{% block content %}

<!-- Toggle Button for Goals-->
<div class="goals-container">
  <button id="toggle-goals" class="toggle-button">
      Notes <i class="bx bx-chevron-down"></i>
  </button>
  <div id="goals-content" class="goals-content">
      <div class="note-input-container">
          <input type="text" id="note-input" placeholder="Add Note...">
          <button id="add-note" class="toggle-button">+</button>
      </div>
      <div id="note-list"></div>
  </div>
</div>
<br />

<!-- Toggle Button for Blog-->
<div class="blog-container">
  <button id="toggle-blog" class="toggle-button btn">
      Blog <i class="bx bx-chevron-down"></i>
  </button>
  <div id="blog-content" class="blog-content">
      <div id="blog-content-inner" class="blog-item-content">
          <div class="content-section">
              <h3>Bulk</h3>
              <p>Bulk Content</p>
          </div>
          <div class="content-section">
              <h3>Cut</h3>
              <p>Cut Content</p>
          </div>
          <div class="content-section">
              <h3>Hold</h3>
              <p>Hold Content</p>
          </div>
      </div>
  </div>
</div>
<br />
  
<!-- Link to external JavaScript file -->
<script src="{{ url_for('static', filename='scripts.js') }}"></script>

{% endblock %}
</div>
