{% extends "base.html" %} {% block content %}
<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />
<div class="get-started slide-in">
  <h2>Click To Get Started</h2>
</div>
<br /><br />

<div class="advantage slide-in">
  <div class="image-advantage slide-in">
    <i class="bx bxs-heart bx-burst" style="color: #d01619; font-size: 6vh"></i>
    <p>Daily kcal</p>
  </div>
</div>
<br />
<br />
<div class="reverse-advantages">
  <div class="text-rev-advan">
    <p class="slide-in" style="color: white">
      Track your training <br />
      and achieve your goals faster
    </p>
  </div>
</div>

{% endblock %}
